.container-presentation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 40%;
  transform: translateY(-50%); 
}



.container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ola h1 {
  font-size: 3.7rem;
  color: rgb(255, 255, 255);
}

.presentation-text {
  width: 500px;
  font-size: 15px;
  color: rgb(215, 215, 215);
  padding-top: 5px;
}

.name {
  color: #2ccb69 ;
}

.typing {
  color: white;
  font-size: 2rem;
}

.typed-cursor {
  color: #2ccb69;
  font-size: 45px;
}