@media only screen and (max-width: 600px) {
  .container-presentation {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .container-text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-160%); 
  }
  
  .ola h1 {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
  }
  
  .presentation-text {
    width: auto;
    font-size: 14px;
    color: rgb(215, 215, 215);
    padding-top: 5px;
  }
  
  .name {
    color: #2ccb69 ;
  }
  
  .typing {
    color: white;
    font-size: 1rem;
  }
  
  .typed-cursor {
    color: #2ccb69;
    font-size: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .container-presentation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .ola h1 {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
  }
  
  .presentation-text {
    width: 270px;
    font-size: 12px;
    color: rgb(215, 215, 215);
    padding-top: 5px;
  }
  
  .name {
    color: #2ccb69 ;
  }
  
  .typing {
    color: white;
    font-size: 1.5rem;
  }
  
  .typed-cursor {
    color: #2ccb69;
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .container-presentation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .ola h1 {
    font-size: 2.7rem;
    color: rgb(255, 255, 255);
  }
  
  .presentation-text {
    width: 300px;
    font-size: 13px;
    color: rgb(215, 215, 215);
    padding-top: 5px;
  }
  
  .name {
    color: #2ccb69 ;
  }
  
  .typing {
    color: white;
    font-size: 2rem;
  }
  
  .typed-cursor {
    color: #2ccb69;
    font-size: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .container-presentation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .ola h1 {
    font-size: 3.7rem;
    color: rgb(255, 255, 255);
  }
  
  .presentation-text {
    width: 400px;
    font-size: 15px;
    color: rgb(215, 215, 215);
    padding-top: 5px;
  }
  
  .name {
    color: #2ccb69 ;
  }
  
  .typing {
    color: white;
    font-size: 2rem;
  }
  
  .typed-cursor {
    color: #2ccb69;
    font-size: 45px;
  }
}

@media only screen and (min-width: 1200px) {
.container-presentation {
  display: flex;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ola h1 {
  font-size: 3.7rem;
  color: rgb(255, 255, 255);
}

.presentation-text {
  width: 400px;
  font-size: 18px;
  color: rgb(215, 215, 215);
  padding-top: 5px;
}

.name {
  color: #2ccb69 ;
}

.typing {
  color: white;
  font-size: 2.5rem;
}

.typed-cursor {
  color: #2ccb69;
  font-size: 45px;
}


}