.container-presentation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 40%;
  transform: translateY(-50%); 
}

.d-flex {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.ola {
  color:#2ccb69;
  font-size: 60px;
  padding-bottom: 20px;
}

.presentation-text {
  width: 500px;
  color: rgb(215, 215, 215);
}
