.container-presentation {
  height: 70px;
  width: 400px;
  position: absolute;
  top: 30%;
  font-family: 'Open Sans';
  margin-left: 150px;
}

.ola {
  color:#2ccb69;
  font-size: 60px;
}

.presentation-text {
  color: rgb(215, 215, 215);
}