.container-presentation {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 40%;
  transform: translateY(-50%); 
}

.container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ola h1 {
  color: #2ccb69;
  font-size: 65px;
}

.ola p {
  color: #2ccb69;
  font-size: 50px;
}

.presentation-text {
  width: 500px;
  font-size: 15px;
  color: rgb(215, 215, 215);
  padding-top: 5px;
}

.name {
  color: #2ccb69 ;
}

.typing {
  font-size: 40px;
  color: #bcbcbc;
}

.typed-cursor {
  color: #2ccb69;
  font-size: 45px;
}