.slider-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.slider {
  display: flex;
  position: relative;
  height: 580px;
  width: 85%;
  background-color: #000;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #2ccb694f;
}

.slider img {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  width: 95%;
}

.active {
  opacity: 1;
}

.control-tv{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0; 
  right: 0;
  bottom: 13px;
  margin: auto;
  width: 350px;
  height: 30px;
  background-color: #1c1c1cb0;
  clip-path: polygon(0 0, 100% 0, 87% 95%, 13% 95%);
}

.container-volume {
  display: flex;
  gap: 5px;
}

.container-channel {
  display: flex;
  gap: 5px;
}

.container-info {
  color: #bcbcbc;
  left: 0; right: 0;
  margin: auto;
  width: 90%;
  background-color: #00000056;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 75%;
}

.title-project {
  color: #2ccb69;
  position: relative;
  z-index: 1;
  padding-top: 5px;
}

.info {
  position: relative;
  z-index: 1;
  padding: 5px 5px 5px 5px;
}

.btn-more {
  color: #bcbcbc;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-more a {
  text-decoration: none;
  color: #bcbcbc;
}

.btn-more:hover {
  background-color: #2ccb691d;
  border: 1px solid #2ccb6921;
}

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}