@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .active {
    position: relative;
    left: 2px;
    top: -9px;
    opacity: 1;
    width: 355px;
    height: 221px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .active2 {
    position: relative;
    left: 183px;
    top: 10px;
    width: 91px;
    height: 194px;
    border-radius: 12px;
  }
  
  .container-displays {
    position: relative;
    width: 100%;
  }
  
  .notebook {
    width: 575px;
  }
  
  .cell {
    width: 250px;
    right: 130px;
  }
  
  .container-cell {
    z-index: 1;
    position: absolute;
    top: 100px;
    right: -4px;
    bottom: 0;
  }
  
  .container-first-project {
    position: absolute;
  }
  
  .container-second-project {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .active {
    position: relative;
    left: 2px;
    top: -12px;
    opacity: 1;
    width: 498px;
    height: 310px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .active2 {
    position: relative;
    left: 263px;
    top: -9px;
    width: 130px;
    height: 270px;
    border-radius: 20px;
  }
  
  .container-displays {
    position: relative;
    width: 100%;
  }
  
  .notebook {
    width: 100%;
  }
  
  .cell {
    width: 350px;
    right: 175px;
  }
  
  .container-cell {
    z-index: 1;
    position: absolute;
    top: 115px;
    right: -35px;
    bottom: 0;
  }
  
  .container-first-project {
    position: absolute;
  }
  
  .container-second-project {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

@media only screen and (min-width: 1200px) { 
.slider-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.active {
  position: relative;
  left: 3px;
  top: -12px;
  opacity: 1;
  width: 505px;
  height: 314px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active2 {
  position: relative;
  left: 270px;
  top: -13px;
  width: 130px;
  height: 270px;
  border-radius: 20px;
}

.container-displays {
  position: relative;
  width: 100%;
}

.notebook {
  width: 80%;
}

.cell {
  width: 210px;
  right: 175px;
}

.container-cell {
  z-index: 1;
  position: absolute;
  top: 115px;
  right: -35px;
  bottom: 0;
}

.container-first-project {
  position: absolute;
}

.container-second-project {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 