@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .slider {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 90%;
    background-color: #000;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #1c1c1cb0;
  }
  
  .slider img {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 90%;
    border: 1px solid #1c1c1cb0;
  }
  
  .active {
    opacity: 1;
  }
  
  .control-tv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 30px;
    background-color: #1c1c1cb0;
    clip-path: polygon(0 0, 100% 0, 87% 95%, 13% 95%);
  }
  
  .container-volume {
    display: flex;
    gap: 5px;
  }
  
  .container-channel {
    display: flex;
    gap: 5px;
  }
  
  .container-info {
    color: #bcbcbc;
    left: 0; right: 0;
    margin: auto;
    width: 90%;
    background-color: #00000056;
    border-radius: 5px;
    text-align: center;
    position: absolute;

    top: 59%;
  }
  
  .title-project {
    color: #2ccb69;
    position: relative;

    padding-top: 5px;
    font-size: 15px;
  }
  
  .info {
    position: relative;

    padding: 5px 5px 5px 5px;
    font-size: 12px;
  }
  
  .btn-more {
    color: #bcbcbc;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .btn-more a {
    text-decoration: none;
    color: #bcbcbc;
    font-size: 12px;
  }
  
  .btn-more:hover {
    background-color: #2ccb691d;
    border: 1px solid #2ccb6921;
  }
}

@media only screen and (min-width: 992px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .slider {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 530px;
    width: 90%;
    background-color: #000;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #1c1c1cb0;
  }
  
  .slider img {
    -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    width: 95%;
    border: 1px solid #1c1c1cb0;
  }
  
  .active {
    opacity: 1;
  }
  
  .control-tv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 30px;
    background-color: #1c1c1cb0;
    clip-path: polygon(0 0, 100% 0, 87% 95%, 13% 95%);
  }
  
  .container-volume {
    display: flex;
    gap: 5px;
  }
  
  .container-channel {
    display: flex;
    gap: 5px;
  }
  
  .container-info {
    color: #bcbcbc;
    left: 0; right: 0;
    margin: auto;
    width: 90%;
    background-color: #00000056;
    border-radius: 5px;
    text-align: center;
    position: absolute;

    top: 67%;
  }
  
  .title-project {
    color: #2ccb69;
    position: relative;

    padding-top: 5px;
  }
  
  .info {
    position: relative;

    padding: 5px 5px 5px 5px;
  }
  
  .btn-more {
    color: #bcbcbc;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .btn-more a {
    text-decoration: none;
    color: #bcbcbc;
  }
  
  .btn-more:hover {
    background-color: #2ccb691d;
    border: 1px solid #2ccb6921;
  }
}

@media only screen and (min-width: 1200px) { 
.slider-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.slider {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 530px;
  width: 90%;
  background-color: #000;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid #1c1c1cb0;
}

.slider img {
  width: 95%;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active {
  opacity: 1;
}

.control-tv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 30px;
  background-color: #1c1c1cb0;
  clip-path: polygon(0 0, 100% 0, 87% 95%, 13% 95%);
}

.container-volume {
  display: flex;
  gap: 5px;
}

.container-channel {
  display: flex;
  gap: 5px;
}

.container-info {
  color: #bcbcbc;
  left: 0; right: 0;
  margin: auto;
  width: 90%;
  background-color: #00000056;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 70%;
}

.title-project {
  color: #2ccb69;
  position: relative;
  padding-top: 5px;
}

.info {
  position: relative;
  padding: 5px 5px 5px 5px;
}

.btn-more {
  color: #bcbcbc;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-more a {
  text-decoration: none;
  color: #bcbcbc;
}

.btn-more:hover {
  background-color: #2ccb691d;
  border: 1px solid #2ccb6921;
}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 