.slider-container {
  width: 100%;
}

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.slider img {
  width: 1130px;
  border-radius: 5px;
}

.container-info {
  color: #bcbcbc;
  animation-name: reveling;
  animation-duration: 0.5s;
  position: absolute;
  width: 300px;
  height: auto;
  left: 3%;
  top: 75%;
  background-color: #00000056;
  z-index: 1;
  border-radius: 5px;
  text-align: center;
}

.title-project {
  color: #2ccb69;
  animation-name: reveling;
  animation-duration: 0.5s;
  position: relative;
  z-index: 1;
  padding-top: 5px;
}

.info {
  animation-name: reveling;
  animation-duration: 0.5s;
  position: relative;
  z-index: 1;
  padding: 5px 5px 5px 5px;
}

.active {
  animation-name: reveling;
  animation-duration: 1s;
  opacity: 1;
}

.btn-more {
  animation-name: reveling;
  animation-duration: 0.5s;
  color: #bcbcbc;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.btn-more a {
  text-decoration: none;
  color: #bcbcbc;
}

.btn-more:hover {
  background-color: #2ccb691d;
  border: 1px solid #2ccb6921;

}

@keyframes reveling {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}