@media only screen and (max-width: 600px) {
  .none {
  display: none;
}
}

@media only screen and (min-width: 600px) {
  .none {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .active {
    position: relative;
    left: 0px;
    top: -25px;
    opacity: 1;
    width: 425px;
    height: 266px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .active2 {
    position: relative;
    left: 220px;
    top: 0px;
    width: 100px;
    height: 214px;
    border-radius: 12px;
  }
  
  .container-displays {
    position: relative;
    width: 100%;
  }
  
  .notebook {
    width: 575px;
  }
  
  .cell {
    width: 150px;
  }
  
  .container-cell {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: -80px;
    bottom: 0;
  }
  
  .container-first-project {
    position: absolute;
  }
  
  .container-second-project {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .none {
    display: none;
  }

.infos {
  height: 50px;
}

.tittle-project {
  font-size: 20px;
  color: #2ccb69;
}

.description {
  width: 450px;
  font-size: 15px;
  color:#ffffff;
}
}

@media only screen and (min-width: 992px) {
  .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .active {
    position: relative;
    left: 0px;
    top: -25px;
    opacity: 1;
    width: 425px;
    height: 266px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .active2 {
    position: relative;
    left: 330px;
    top: 0px;
    width: 100px;
    height: 214px;
    border-radius: 12px;
  }
  
  .container-displays {
    position: relative;
    width: 100%;
  }
  
  .notebook {
    width: 575px;
  }
  
  .cell {
    width: 150px;
  }
  
  .container-cell {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: -190px;
    bottom: 0;
  }
  
  .container-first-project {
    position: absolute;
  }
  
  .container-second-project {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .none {
    display: none;
  }

.infos {
  height: 50px;
}

.tittle-project {
  font-size: 20px;
  color: #2ccb69;
}

.description {
  width: 550px;
  font-size: 15px;
  color:#ffffff;
}
}

@media only screen and (min-width: 1200px) {
.teste {
  cursor: pointer;
}
.slider-container {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.active {
  position: relative;
  left: 1px;
  top: -25px;
  opacity: 1;
  width: 599px;
  height: 374px;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active2 {
  position: relative;
  left: 440px;
  top: 2px;
  width: 155px;
  height: 326px;
  border-radius: 20px;
}

.container-displays {
  position: relative;
  width: 100%;
}

.notebook {
  width: 80%;
}

.cell {
  width: 225px;
  right: 175px;
}

.container-cell {
  position: absolute;
  top: 0px;
  right: -250px;
  bottom: 0;
}

.container-first-project {
  position: absolute;
}

.container-second-project {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.none {
  display: none;
}

.infos {
  height: 50px;
}

.tittle-project {
  font-size: 20px;
  color: #2ccb69;
}

.description {
  width: 750px;
  font-size: 15px;
  color:#ffffff;
}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

.tittle-project {
  font-family: 'General Sans', sans-serif;
  padding-bottom: 5px;
}

.description {
  font-family: 'Gambetta', serif;
}