@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  .portfolio-navigator {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .align-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .portfolio-navigator span {
    font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    line-height: 90px;
    font-weight: 600;
    color: #2ccb69;
    margin-left: 20px;
  }
  
  .next-prev {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
    color: #bcbcbc;
    margin-left: 20px;
  }
  
  .arrow-one{
    transform: rotate(180deg);
    cursor: pointer;
    margin-right: 5px;
  }
  
  .arrow-two {
    cursor: pointer;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-navigator {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .align-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .portfolio-navigator span {
    font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    line-height: 90px;
    font-weight: 600;
    color: #2ccb69;
    margin-left: 20px;
  }
  
  .next-prev {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
    color: #bcbcbc;
    margin-left: 20px;
  }
  
  .arrow-one{
    transform: rotate(180deg);
    cursor: pointer;
    margin-right: 5px;
  }
  
  .arrow-two {
    cursor: pointer;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 992px) {
  .portfolio-navigator {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .align-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .portfolio-navigator span {
    font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    line-height: 90px;
    font-weight: 600;
    color: #2ccb69;
    margin-left: 20px;
  }
  
  .next-prev {
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 23px;
    color: #bcbcbc;
    margin-left: 20px;
  }
  
  .arrow-one{
    transform: rotate(180deg);
    cursor: pointer;
    margin-right: 5px;
  }
  
  .arrow-two {
    cursor: pointer;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1200px) { 
.portfolio-navigator {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-navigator span {
  font-family: 'Open Sans', sans-serif;
  font-size: 90px;
  line-height: 90px;
  font-weight: 600;
  color: #2ccb69;
  margin-left: 20px;
}

.next-prev {
  display: flex;
  width: 80%;
  height: 35px;
  background-color: #2c2c2c;
  border-radius: 23px;
  color: #bcbcbc;
}
}