.portfolio-navigator {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.align-vertical {
  position: relative;
  top: 58%;
  transform: translateY(-50%); 
}

.portfolio-navigator span {
  font-family: 'Open Sans', sans-serif;
  font-size: 90px;
  line-height: 90px;
  font-weight: 600;
  color: #2ccb69;
  margin-left: 20px;
}

.next-prev {
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  border-radius: 23px;
  color: #bcbcbc;
  margin-left: 20px;
}

.arrow:first-child {
  transform: rotate(180deg);
}

.arrow {
  width: 20px;
  margin: 0 7px 0 7px;
  cursor: pointer;
}