.portfolio-navigator {
  width: 145px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  margin-left: 5px;
}

.align-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.block-number {
  content: "";
  display: block;
  width: 35px;
  height: 80px;
  background-color: #1d1c1c;
  position: absolute;
  top: 2px;
  left: -5px;
}

.portfolio-navigator span {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  line-height: 90px;
  font-weight: 600;
  color: #2ccb69;
}

.next-prev {
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  border-radius: 23px;
  color: #bcbcbc;
}

.arrow:first-child {
  transform: rotate(180deg);
}

.arrow {
  width: 20px;
  margin: 0 7px 0 7px;
  cursor: pointer;
}