@media only screen and (max-width: 600px) {
  .section-two {
    height: calc(70vh - 10px);
    display: flex;
  }
  
  .wrap-about {
    display: flex;
    align-items: center;
    width: 589px;
    height: auto;
    justify-content: space-between;
    justify-content: center;
  }
  
  .container-object {
    display: none;
    width: 115px;
    height: 255px;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: center;
  }

  .container-about h1 {
    font-size: 30px;
    color: #2ccb69;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .section-two {
    height: calc(70vh - 10px);
    display: flex;
  }
  
  .wrap-about {
    display: flex;
    align-items: center;
    width: 589px;
    height: auto;
    justify-content: space-between;
    justify-content: center;
  }
  
  .container-object {
    display: none;
    width: 115px;
    height: 255px;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: center;
  }

  .object-image {
    border-radius: 12px;
    width: 100%;
  }
  
  .container-about h1 {
    font-size: 30px;
    color: #2ccb69;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .section-two {
    height: calc(85vh - 10px);
    display: flex;
  }
  
  .wrap-about {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 415px;
    height: 255px;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    width: 304px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    padding-left: 25px;
  }

  .object-image {
    border-radius: 12px;
    width: 100%;
  }
  
  .container-about h1 {
    font-size: 30px;
    color: #2ccb69;
  }
}

@media only screen and (min-width: 992px) {
  .section-two {
    height: calc(85vh - 10px);
    display: flex;
  }
  
  .wrap-about {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 443px;
    height: 255px;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 25px;
  }

  .object-image {
    border-radius: 12px;
    width: 100%;
  }
  
  .container-about h1 {
    font-size: 35px;
    color: #2ccb69;
  }
}

@media only screen and (min-width: 1200px) {
  .section-two {
    height: calc(85vh - 10px);
    display: flex;
  }
  
  .wrap-about {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 554px;
    height: 255px;
    align-items: center;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    width: 500px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-left: 25px;
  }

  .object-image {
    border-radius: 12px;
    width: 100%;
  }
  
  .container-about h1 {
    font-size: 35px;
    color: #2ccb69;
  }
}

