@media only screen and (max-width: 600px) {
    .section-two {
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
  }
  
  .wrap-about {
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .container-about {
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  .container-about h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    color: #2ccb69;
  }
  
  .span-object {
    display: block;
    font-size: 23px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.273);
    padding-bottom: 1.3px;
  }
  
  .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    height: 200px;
  }
  
  .grade {
    color: #2ccb696c;
    font-size: 15px;
  }
}

@media only screen and (min-width: 600px) {
  .section-two {
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
  }
  
  .wrap-about {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 280px;
    align-items: center;
  }
  
  .container-about {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }
  
  .container-about h1 {
    font-size: 30px;
    color: #2ccb69;
  }
  
  .span-object {
    display: block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.273);
    padding-bottom: 1.3px;
  }
  
  .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 10px;
  }
  
  .grade {
    color: #2ccb696c;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .section-two {
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
  }
  
  .wrap-about {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 291px;
    align-items: center;
  }
  
  .container-about {
    display: flex;
    flex-direction: column;
    width: 390px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
  }
  
  .container-about h1 {
    font-size: 35px;
    color: #2ccb69;
  }
  
  .span-object {
    display: block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.273);
    padding-bottom: 1.3px;
  }
  
  .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 10px;
  }
  
  .grade {
    color: #2ccb696c;
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .section-two {
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
  }
  
  .wrap-about {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 380px;
    align-items: center;
  }
  
  .container-about {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .container-about h1 {
    font-size: 35px;
    color: #2ccb69;
  }
  
  .span-object {
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.273);
    padding-bottom: 1.3px;
  }
  
  .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 10px;
  }
  
  .grade {
    color: #2ccb696c;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-two {
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
  }
  
  .wrap-about {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }
  
  .container-object {
    display: flex;
    width: 380px;
    align-items: center;
  }
  
  .container-about {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  
  .container-about h1 {
    font-size: 35px;
    color: #2ccb69;
  }
  
  .span-object {
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.273);
    padding-bottom: 1.3px;
  }
  
  .grade-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-right: 10px;
  }
  
  .grade {
    color: #2ccb696c;
    font-size: 15px;
  }
}

