body::-webkit-scrollbar {
  width: 2px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #2ccb69;  /* creates padding around scroll thumb */
}