@media only screen and (max-width: 600px) {
  .container-menu {
    display: none;
    float: left;
    align-items: center;
    justify-content: center;
    height: 95px;
    position: fixed;
    z-index: 1;
  }
}

@media only screen and (min-width: 600px) {
  .container-menu {
    display: none;
    float: left;
    align-items: center;
    justify-content: center;
    height: 95px;
    position: fixed;
    z-index: 1;
  }
  
  .container-menu a {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #bcbcbc;
    text-transform: lowercase;
    display: inline-block;
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-weight: 400;
    position: relative;   
  }
  
  .container-menu  a:first-child {
    margin-left: 200px;
  }
  
  .container-menu  a:hover {
    color: #2ccb69;
  }
  
  .container-menu  a:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: left center;
  }
  
  .container-menu  a:hover:before {
    transform: scale(1, 1);        
  }
}

@media only screen and (min-width: 768px) {
  .container-menu {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    height: 95px;
    position: fixed;
    z-index: 1;
  }
  
  .container-menu a {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #bcbcbc;
    text-transform: lowercase;
    display: inline-block;
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-weight: 400;
    position: relative;   
  }
  
  .container-menu  a:first-child {
    margin-left: 150px;
  }
  
  .container-menu  a:hover {
    color: #2ccb69;
  }
  
  .container-menu  a:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: left center;
  }
  
  .container-menu  a:hover:before {
    transform: scale(1, 1);        
  }
}

@media only screen and (min-width: 992px) {
  .container-menu {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    height: 95px;
    position: fixed;
    z-index: 1;
  }
  
  .container-menu a {
    font-family: 'Open Sans';
    font-size: 17px;
    color: #bcbcbc;
    text-transform: lowercase;
    display: inline-block;
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-weight: 400;
    position: relative;   
  }
  
  .container-menu  a:first-child {
    margin-left: 200px;
  }
  
  .container-menu  a:hover {
    color: #2ccb69;
  }
  
  .container-menu  a:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.2s ease-out;
    transform: scale(0, 1);
    transform-origin: left center;
  }
  
  .container-menu  a:hover:before {
    transform: scale(1, 1);        
  }
}

@media only screen and (min-width: 1200px) { 
.container-menu {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  height: 95px;
  position: fixed;
  z-index: 1;
}

.container-menu a {
  font-family: 'Open Sans';
  font-size: 17px;
  color: #bcbcbc;
  text-transform: lowercase;
  display: inline-block;
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-weight: 400;
  position: relative;   
}

.container-menu  a:first-child {
  margin-left: 200px;
}

.container-menu  a:hover {
  color: #2ccb69;
}

.container-menu  a:before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #2ccb69;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.2s ease-out;
  transform: scale(0, 1);
  transform-origin: left center;
}

.container-menu  a:hover:before {
  transform: scale(1, 1);        
}
}
