.container-menu {
  height: 95px;
  display: flex;
  position: fixed;
  align-items: center;
}

.container-menu a {
  font-family: 'Open Sans';
  font-size: 16px;
  color: #bcbcbc;
  text-transform: lowercase;
  margin: 0 0 0 15px;
  text-decoration: none;
  font-weight: 400;
}

.container-menu a:hover {
  color: #2ccb69;
}

.container-menu:first-child {
  margin-left: 100px;
}