.container-menu {
  display: flex;
  position: absolute;
}

.container-menu a {
  font-family: 'Open Sans';
  position: relative;
  font-size: 16px;
  color: #bcbcbc;
  text-transform: lowercase;
  margin: 45px 0 0 15px;
  text-decoration: none;
  font-weight: 400;
}

.container-menu:first-child {
  margin-left: 100px;
}