@media only screen and (max-width: 600px) {
  .section-three {
    height: calc(100vh - 10px);
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .section-three {
    height: calc(100vh - 10px);
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .section-three {
    height: calc(100vh - 10px);
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .section-three {
    height: calc(100vh - 10px);
    display: flex;
  }
}

@media only screen and (min-width: 1200px) { 
.section-three {
  height: calc(100vh - 10px);
  display: flex;
}
}