.stick {
  width: 20px;
  height: 1px;
  display: block;
  margin: 0 0 55px 35px;
  background-color: #4d4c4c;
}

.stick:first-child {
  margin-top: 20px;
}

.stick-active {
  width: 50px;
  height: 2px;
  background-color: #2ccb69;
}