@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  left: 16px;
  color: white;
  font-size: 30px;
}

.text-green {
  color: #2ccb69;
}
