@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.container-logo {
  position: absolute;
  top: -10px;
  left: 20px;
  width: 65px;
  height: 110px;
  background-color: #2ccb69;
  border-radius: 0 0 30px 0;
}

.name-logo {
  background-color: #2ccb69 ;
  text-align: center;
  margin-top: 40px;
  font-family: 'Josefin Sans', cursive;
  font-size: 15px;
}