@media only screen and (max-width: 600px) {
  .container-logo {
    display: flex;
    height: 95px;
    align-items: center;
    padding-left: 15px;
  }
  
  .logo {
    left: 16px;
    color: white;
    font-size: 20px;
  }
  
  .text-green {
    color: #2ccb69;
  }
}

@media only screen and (min-width: 600px) {
  .container-logo {
    display: flex;
    height: 95px;
    align-items: center;
  }
  
  .logo {
    left: 16px;
    color: white;
    font-size: 20px;
  }
  
  .text-green {
    color: #2ccb69;
  }
}

@media only screen and (min-width: 768px) {
  .container-logo {
    display: flex;
    height: 95px;
    align-items: center;
  }
  
  .logo {
    left: 16px;
    color: white;
    font-size: 20px;
  }
  
  .text-green {
    color: #2ccb69;
  }
}

@media only screen and (min-width: 992px) {
  .container-logo {
    display: flex;
    height: 95px;
    align-items: center;
  }
  
  .logo {
    left: 16px;
    color: white;
    font-size: 30px;
  }
  
  .text-green {
    color: #2ccb69;
  }
}

@media only screen and (min-width: 1200px) { 
.container-logo {
  height: 95px;
}

.logo {
  color: white;
  font-size: 30px;
}

.text-green {
  color: #2ccb69;
}
}