@media screen and (min-width: 320px){
.page-wrapper {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: table;
}

.content-page-one {
  background-color: #1c1c1c;
  margin: 12px 12px 0 12px;
  height: calc(100vh - 20px);
}

.content-page-two {
  background-color: #1c1c1c;
  margin: 0 12px 12px 12px;
  height: calc(100vh - 20px);
}
}