

@media only screen and (max-width: 600px) {
  .header {
    background-color: #1c1c1c;
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    background-color: #1c1c1c;
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    background-color: #1c1c1c;
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    background-color: #1c1c1c;
    position: fixed;
    display: flex;
    width: 100%;
    height: 75px;
  }
}

@media only screen and (min-width: 1200px) { 
.header {
  top: 0;
  background-color: #1c1c1c;
  position: fixed;
  display: flex;
  width: 100%;
  height: 75px;
}
}