@keyframes apears {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}

.container-contact-info {
  display: none;
}

.container-active {
  animation-name: apears;
  animation-duration: 0.7s;
  width: 248px;
  height: 130px;
  position: fixed;
  bottom: 115px;
  right: 67px;
  z-index: 200;
  display: block;
  color: white;
  background-color: black;
  border-radius: 0 10px 0 10px;
}

.container-contact-info h2 {
  color:#2ccb69;
  font-size: 20px;
  padding-top: 8px;
  padding-left: 10px;
}

.container-contact-info p {
  font-size: 13px;
  line-height: 24px;
  padding-left: 10px;
}

.social-links {
  width: 100%;
  height: 45px;
  display: block;
  position: relative;
  left: -12px;
  margin-top: 4px;
  padding-left: 13px;
}

.social{
  width: 45px;
  height: 45px;
  display: inline-block;
}

.image-display {
  width: 20px;
  height: auto;
  display: block;
  margin: 13px auto 0;
}

svg.image-display:hover path {
  fill: #2ccb69;
}

.image-display:hover {
  width: 22px;
}

.corner {
  width: 25px;
  height: 25px;
  display: block;
  float: right;
  background-color: black;
  border-radius: 0 0 0 100%;
}



