@media only screen and (max-width: 600px) {
  .section-one {
    height: calc(100vh - 10px);
    position: relative;
  }
}

@media only screen and (min-width: 600px) {
  .section-one {
    height: calc(100vh - 100px);
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .section-one {
    height: calc(100vh - 100px);
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  .section-one {
    height: calc(100vh - 10px);
    position: relative;
  }
}

@media only screen and (min-width: 1200px) { 
.section-one {
  height: calc(100vh - 10px);
  position: relative;
}
}