.container-picture {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  animation: flutuation 5s ease-in-out alternate infinite;
  filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
}

.svg-react {
  width: 100%;
  height: 100%;
}

.svg-js {
  position: absolute;
}


@keyframes flutuation {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}
