@media only screen and (max-width: 600px) {
  .container-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    top: 185px;
    position: relative;
    animation: flutuation 5s ease-in-out alternate infinite;
    filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
    margin: auto;
    z-index: 2;
  }
  
  .box-shadow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    -webkit-box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.56); 
    box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.565);
  }
  
  .svg-react {
    width: 100%;
    height: 100%;
  }
  
  .svg-js {
    position: absolute;
    width: 65px;
  }
}

@media only screen and (min-width: 600px) {
  .container-picture {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -285px;
    top: 85px;
    width: 220px;
    animation: flutuation 5s ease-in-out alternate infinite;
    filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
    padding-left: 30px;
  }
  
  .box-shadow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    -webkit-box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.56); 
    box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.565);
  }
  
  .svg-react {
    width: 100%;
    height: 100%;
  }
  
  .svg-js {
    position: absolute;
    width: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .container-picture {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    margin: auto;
    width: 330px;
    animation: flutuation 5s ease-in-out alternate infinite;
    filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
  }
  
  .box-shadow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    -webkit-box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.56); 
    box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.565);
  }
  
  .svg-react {
    width: 100%;
    height: 100%;
  }
  
  .svg-js {
    position: absolute;
    width: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .container-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0;
    left: 0;
    margin: auto;
    animation: flutuation 5s ease-in-out alternate infinite;
    filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
  }
  
  .box-shadow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    -webkit-box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.56); 
    box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.565);
  }
  
  .svg-react {
    width: 100%;
    height: 100%;
  }
  
  .svg-js {
    position: absolute;
    width: 70px;
  }
  }

@media only screen and (min-width: 1200px) { 
.container-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  animation: flutuation 5s ease-in-out alternate infinite;
  filter: drop-shadow(50px 15px 7px rgb(0 0 0 / 0.6));
}

.box-shadow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 1px;
  -webkit-box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.56); 
  box-shadow: 0px 0px 500px 100px rgba(44, 203, 105, 0.565);
}

.svg-react {
  width: 100%;
  height: 100%;
}

.svg-js {
  position: absolute;
  width: 80px;
}
}
@keyframes flutuation {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}
