.container-picture {
  width: 300px;
  background-color: #2ccb69;
  border-radius: 50px 20px 10px 20px;
}

.container-picture img {
  position: relative;
  bottom: 2px;
  right: 2px;
  width: 97%;
  border-radius: 15px;
  border: 3px solid black;
  }
