.container-picture {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  animation: flutuation 5s ease-in-out alternate infinite;
}

.svg-react {
  width: 100%;
  height: 100%;
}

.svg-js {
  position: absolute;
}


@keyframes flutuation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
